@import "tailwindcss";
*{
    scrolbehavior: none;
}

body{
    display: flex;
    width: 100%;
    alighn-items: center;
}

#root{
    display: flex;
    width: 100%;
    flex-direction: column;
    max-width: 1440px;
}